[2020-06-13 16:05] waldyrious opened #7 "Proposal: use width/height instead of viewBox"
I realize that `viewBox="0 0 512 512"` is shorter than `width="512" height="512"`, but that's only a 3-character difference, and the latter has several advantages:
- it's more explicit/intuitive, and doesn't include redundant parameters (the zero origin)
- it matches the intended use of those attributes (viewBox makes more sense when we want to rescale the SVG contents to fit the document size, bu

[2020-06-13 18:11] HatScripts commented on #7
Before discussing your other points, would you mind clarifying what you mean by this? The rich diff you linked to looks valid on my screen:
![2020-06-14 02 46 36 Fix_proportions_of_the_CV_flag_by_waldyrious_·_Pul](https://user-images.githubusercontent.com/5691865/84576041-0b83c800-adf5-11ea-9488-068d5ed83950.png)

[2020-06-13 20:16] waldyrious commented on #7
Wait, what?? That's nuts, I never noticed that — but it looks like it may be a browser issue.

Here's what I see on Firefox (v77):
<img width="328" alt="Screenshot 2020-06-13 at 21 11 26" src="https://user-images.githubusercontent.com/478237/84578189-e2dedc80-adba-11ea-9323-7e9ceb846b8a.png">

...and Google Chrome (v83):
<img width="328" alt="Screenshot 2020-06-13 at 21 12 04" src="https://user-im

[2020-06-13 23:58] waldyrious opened #8 "Document flag design guidelines"
From the conversation at #5:

Such design guidelines should be noted down in order to facilitate contributions to the project that expand the coverage of flags. Even a simple bullet list of high-level principles (with examples) would already be quite useful for this purpose.

[2020-06-14 16:06] HatScripts commented on #8
Okay, here are some thoughts for now, and I of course am open to suggestions:

* Flags should only use colors from the circle-flags color palette*
* Flags should be pixel-perfect when saved in a raster format at 16x16, 32x32, 64x64, etc. (Note: Many icons probably break this rule at the moment)
* The flags should be recognizable and unambiguous, even at small sizes
* The flags should stray from th

[2020-06-14 17:09] HatScripts commented on #7
Oh, that's really weird. I'm using Opera and it looks fine in the rich diff you linked earlier, but [in the regular view](https://github.com/HatScripts/circle-flags/blob/master/flags/cv.svg) of an SVG file it's broken:

![2020-06-15T03:01:32+10 circle-flagscv.svg_at_master_·_HatScriptscircle-](https://user-images.githubusercontent.com/5691865/84599353-b7d8b380-aeb4-11ea-84a0-81333814e5d7.png)
![20

[2020-06-14 17:14] HatScripts commented on #7
But it definitely used to work. I think it's a GitHub issue, because it can be fixed by changing the page CSS.

[2020-06-14 20:34] waldyrious commented on #8
Sounds like a great start! The flag comparisons are a really nice touch. The only thing I think is important to include beyond what you already wrote is the nature of the shape simplifications, with some examples for illustration. I feel that that may be the hardest bit of the design style to replicate without some guidance about the choices made so far.

To be honest was happy that we could drop

[2020-06-14 20:41] waldyrious commented on #7
Thanks for the additional tests. I'll reach out to GitHub support to report this.

[2020-06-15 19:54] HatScripts commented on #8
Essentially, yes, and I agree that "pixel-perfect" is probably a misnomer but I've personally seen it used quite often in icon design. But you're right that isn't really possible with diagonal lines or small shapes. It's more about horizontal and vertical lines, I suppose.

Here are some examples from the flags above as they appear in my browser at 32x32, upscaled to 400% or 128x128:

### Venezuel

[2020-06-15 21:49] waldyrious commented on #8
Fascinating read about the border artifacts. I have considered suggesting that we make the flags square with a circular mask, rather than actually cut out the shapes in circular sections, in order to make geometry [simpler and more intuitive](https://github.com/HatScripts/circle-flags/pull/4#issuecomment-642199679); I wonder if that could help with this problem...

[2020-06-26 17:16] HatScripts commented on #8
There is definitely merit to this idea and it's something I've been considering for a while. You're right that it would simplify geometry. The only thing is that in my experience svgo isn't able to properly handle SVGs with masks, especially if they're applied to multiple elements at once, so I think this would suffer from slightly larger files in most cases.

[2020-06-27 12:15] waldyrious commented on #8
I'd be happy to give this a try, now that I know you're receptive to the idea. I won't have the time to to work on it for the next few weeks, but sometime during this summer I should be able to cook something up :)

[2020-07-31 11:57] HatScripts opened #11 "Use a circular clipPath to mask flags"
Per waldyrious's [suggestion](https://github.com/HatScripts/circle-flags/issues/8#issuecomment-644408516) on #8, here are some experiments with converting flags to use a circular [`<clipPath>`](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/clipPath). This helps to avoid having longer than necessary `<path d="...">`s, and generally makes the code more human readable. It also seems to res

[2020-07-31 15:08] waldyrious commented on #11
Love it! By the way (and please don't let this side-note derail the focus of this issue! 😄), it should be possible to avoid some repetition in the human-readable form by using `<pattern>`s. In the case of the USA flag, we could replace

[code]

with a repeating pattern in the `<defs>`:

[code]

and then filling the entire rectangle with it:
[code]

Something similar could be done for the stars, av

[2020-07-31 15:09] waldyrious commented on #11
Another possible improvement for the future is to make sure the geometry of the flags works without the circular mask, i.e. with the flags as actual square icons. Of course, this shouls not sacrifice the aesthetics of the circular form, which should remain the primary representation.

[2020-08-04 20:43] HatScripts commented on #11
Oh wow! Thanks for this information! I never knew SVG had such a feature. 😭 Looks to be extremely useful.

Indeed, I agree with you. It took me a while to figure out what you were talking about. The stars, right?

![us flag](https://user-images.githubusercontent.com/5691865/89339119-fc2c4700-d6e0-11ea-8ff7-e75b84a74d1d.png)
I agree, this looks very wrong with the stars misaligned like that. I didn

[2020-08-05 00:02] waldyrious commented on #11
To be honest, I had a vague recollection of that functionality existing, but had never used it until the experiments that led to my comment above. I'm still learning about the syntax — MDN's [reference](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/pattern) and [tutorial](https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Patterns) docs have been useful so far for that.

Apologie

[2020-08-30 16:30] HatScripts commented on #11
As a follow-up to this, and for clarification, do you think flags that don't require a mask should be given one?

<img src="https://hatscripts.github.io/circle-flags/flags/br.svg" title="br" width="32"><img src="https://hatscripts.github.io/circle-flags/flags/al.svg" title="al" width="32"><img src="https://hatscripts.github.io/circle-flags/flags/bd.svg" title="bd" width="32"><img src="https://hats

[2020-09-01 22:47] waldyrious commented on #11
Hmm, that's a good point. I suppose we might have to decide whether we want to prioritize consistency and semantic clarity of the design definitions — as well as the extensibility to square/[squircle](https://en.wikipedia.org/wiki/Squircle) icons (the latter being a common trend in icons lately), as opposed to maximum compactness of the resulting images.

Perhaps unsurprisingly, I'm tempted to sid

[2020-09-01 23:00] waldyrious commented on #11
Btw, I haven't tested this, but perhaps we could reuse the mask code from a single file, so that we don't have to repeat the same code in all files? That would also help with the compactness angle.

I found an [article](https://css-tricks.com/svg-use-with-external-reference-take-2/) saying that something like this is possible for `<use>` — not sure what the story is for `<clipPath>`, but it sounds

[2020-09-20 14:30] HatScripts commented on #11
What about if we didn't use `clipPath` at all, and instead added an inline style attribute to the `svg` itself (or to a `g` containing all the elements) specifying a `border-radius`? This would greatly simplify the common use-cases:

## Square icons
`0%` or unspecified

[code]

![japan flag square](https://user-images.githubusercontent.com/5691865/93713725-0925cc80-fba1-11ea-8d2f-97dd73051b89.png)

[2020-09-20 14:59] HatScripts commented on #11
In my recent experiments with `<use>`, it unfortunately appears to have a few issues:

* It seems to only work when the files are hosted online. It breaks when they are stored locally on the computer, in spite of whether I open them in File Explorer, Chrome, Firefox, Edge, etc.
* Even when files are online, `<use>` seems to ignore `clipPath`s within the linked SVG.

[2020-09-21 09:18] waldyrious commented on #11
The `style` approach is ingenious! And yeah, I agree that custom shapes, and a squircle in particular, would not be that much of an advantage once we're able to easily produce squares, rounded squares, and circles.

One caveat of using `style` is that we might need to stick with `width` and `height` instead of `viewBox`, because the border radius appears to be applied to the entire viewport's dime

[2020-09-22 19:24] HatScripts commented on #11
Oh damn, nice catch! I thought the `border-radius` solution had to be too good to be true. Are you aware of any downsides to using `width` and `height` over `viewBox`? And on a related note I realised I never properly responded to your original post on #7 where you suggested this, so for that I apologise.

Thanks for going to such lengths looking for a solution. You are right that this seems to be

[2020-09-22 19:53] HatScripts commented on #7
As a follow-up to [my comment](https://github.com/HatScripts/circle-flags/issues/11#issuecomment-696930212) on #11:

I agree with all your points. My only follow-up questions are:
* Are you aware of any downsides to using `width` and `height` over `viewBox`?
* Based on a couple of naive GitHub searches, [viewBox](https://github.com/search?l=SVG&q=%22%3Csvg+viewBox%22&type=Code) seems to be more pr

[2020-09-22 20:05] HatScripts commented on #7
By the way, did you end up finding out what the issue was here?

[2020-09-22 22:38] waldyrious commented on #7
I can't think of any. I actually tend to prefer SVGs with relative units (percentages and ratios) rather than absolute ones (pixels, mm...), but that's only really useful for dynamic documents. For static images, using relative units does makes them easier to understand and to edit, but for usage purposes, there's no difference — an SVG image usually behaves just like a regular non-vector image fi

[2020-09-22 22:38] waldyrious commented on #11
No problem :) I'll respond there.

Yeah, it's possible that it's been reported; otherwise, we should probably do so to make sure it's addressed eventually. It's not the first edge case I've found while trying to do smarter stuff with SVGs (some of the experiments I did with <pattern>, as [mentioned above](https://github.com/HatScripts/circle-flags/issues/11#issuecomment-667169828) did produce inco

[2020-11-06 18:56] Shatur95 opened #12 "Klingon flag"
Hello! Could you add [Klingon](https://en.wikipedia.org/wiki/Klingon) flag? I am working on a translator application that has this language and it would be nice to present it with a flag :)

[2020-11-07 12:46] HatScripts commented on #12
Hey Shatur, there's actually already a Klingon flag, tucked away in [`/flags/fiction`](https://github.com/HatScripts/circle-flags/tree/master/flags/fiction).

<img src="https://hatscripts.github.io/circle-flags/flags/fiction/klingon.svg" alt="Klingon circle-flag" width="64">

* https://hatscripts.github.io/circle-flags/flags/fiction/klingon.svg
* https://github.com/HatScripts/circle-flags/blob/mas

[2020-11-07 13:47] Shatur95 commented on #12
Oh, missed it, thank you!

Thanks for the info. I am working on a desktop application and icons will be bundled at specific commit from this repo using CMake build system. I will of course keep the icons up to date, but any changes will not accidently broke the icons in the app :)

BTW, could you draft a [release](https://github.com/HatScripts/circle-flags/releases)? This would allow me to hook th

[2020-11-07 13:47] #12 closed

[2020-11-07 14:23] HatScripts commented on #12
Looks very nice! Will definitely be trying this out.

Sure thing, not sure why I hadn't already done that. 🤔
https://github.com/HatScripts/circle-flags/releases/tag/v1.0.0

[2020-11-07 19:12] Shatur95 commented on #12
Thanks!

[2020-11-07 19:14] Shatur95 opened #13 "White circle around some flags"
I recently integrated your icons into my app, but some of the flags have a white outline around them. Is it expected?
![изображение](https://user-images.githubusercontent.com/22453358/98449687-2ce7a680-213e-11eb-8d17-97e28c960adb.png)

[2020-11-07 19:27] Shatur95 commented on #13
I opened one of such flags ([ru.svg](https://github.com/HatScripts/circle-flags/blob/master/flags/ru.svg)) in my image viewer and found that it does have a small stroke which is very noticeable when the image is scaled down (16x16 is used for icons):
![изображение](https://user-images.githubusercontent.com/22453358/98449832-ef841880-213f-11eb-8bcf-4013048fc44a.png)

[2020-11-09 05:17] HatScripts commented on #13
Hi Shatur, I'm aware of this bug and I've mentioned it [here](https://github.com/HatScripts/circle-flags/issues/8#issuecomment-644344650) and [here](https://github.com/HatScripts/circle-flags/issues/11).

I was in the process of generating new versions of many of the flags (such as all vertical/horizontal bicolor/tricolor flags) so that this wouldn't be a problem with them anymore.

Unfortunately,

[2020-11-09 08:11] Shatur95 commented on #13
Missed it, sorry!
Looking forward to the fix :)

[2020-11-09 08:11] #13 closed

[2020-11-27 09:49] tomasdziovenas opened #14 "Flag of French Guiana is missing"
GF.svg flag is missing in the source.

In the file all-flags.md:

French Guiana (GF) is incorrect - you have mapped it to the Flag of Georgia

[2020-11-27 18:51] #14 closed

[2020-11-27 18:52] HatScripts commented on #14
Thanks, fixed!

[2021-02-08 10:29] HatScripts commented on #11
Hey @waldyrious, sorry it's taken me so long to get back to you. Just to keep you in the loop, @climech's PR #18 (also related: #19) has effectively resolved this issue, i.e., applying a circular mask to all flags. So it's probably safe to close this issue now.

@climech opted for using `mask`s over `clipPath`s to save a byte on each file. Since `border-radius` wasn't used, converting the `viewBox

[2021-02-08 23:55] Shatur commented on #11
@HatScripts, thanks! The new flags show up correctly in GitHub:

![изображение](https://user-images.githubusercontent.com/22453358/107296545-46202c00-6a7a-11eb-9673-5c0baad67444.png)

But look square on my system:
![изображение](https://user-images.githubusercontent.com/22453358/107296251-a9f62500-6a79-11eb-9a50-c9fc62127cd7.png)

I have also tried embedding them in my application and they look sq

[2021-02-09 01:01] climech commented on #11
Hello, @Shatur95!

Some more details would be appreciated. What system was this observed on, and what kind of rendering library was used to display the images in your application? The files validate against the W3 (SVG 1.1) spec, but I suppose it's up to the libraries to adhere to it 😞

Also, can you save the following 3 snippets as separate files and test if anything changes?

1.svg:

[code]

2.s

[2021-02-09 08:39] Shatur commented on #11
I use KDE Plasma. My application written in Qt framework [that should support SVG 1.1](https://doc.qt.io/qt-5/svgrendering.html).

Tested, looks same:

![изображение](https://user-images.githubusercontent.com/22453358/107337408-fa45a500-6ac2-11eb-808e-f737605f1c9c.png)

[2021-02-09 08:45] Shatur commented on #11
Oh, it looks like Qt just not support `clipPath` because it not included in [SVG Tiny 1.2](https://bugreports.qt.io/browse/QTBUG-81480).
[Spec](https://www.w3.org/TR/SVGTiny12/).

[2021-02-09 09:02] HatScripts commented on #11
@Shatur95 Could you please test the following?

[code]

In the meantime I'll draft a new release v2.0.0 so that you can revert back to v1.0.0 if you like.

[2021-02-09 09:11] Shatur commented on #11
Same here.

But not problem, there is no issue here. The icons conform to SVG 1.1 and Qt implementation conform to Tiny 1.2, so rounding just not supported by Qt.
I will use square icons, they look good too as to me :)

Yes, it would be nice if you draft a new release.

[2021-02-09 09:32] HatScripts commented on #11
Hmm, that is very strange. So even the `border-radius` trick didn't work, despite it conforming to the spec? 😦 I'll have to do some further investigating.

[Done](https://github.com/HatScripts/circle-flags/releases/tag/v2.0.0) :)

[2021-02-09 09:37] HatScripts commented on #7
That's completely fair; that reporting system seems like a nightmare. Nevertheless, thank you very much for pointing me in to the right direction and for giving me these additional resources to look into.

Something else that seems relevant to this:

SVGs using `viewBox` don't seem to render at all in [Google Sheets](https://docs.google.com/spreadsheets/u/0/), but those using `width`/`height` do.

[2021-02-09 09:38] Shatur commented on #11
Yes, I double checked it. It looks square both in the system and in the Qt application.

Thanks!

[2021-02-09 12:45] climech commented on #7
One downside to omitting viewBox entirely is that resizing the icons (either via CSS or HTML attributes) stops working as expected for SVGs embedded directly in HTML (`<svg>` tag rather than `<img>`), e.g.:

[code]

produces:

![2021-02-09T133200 700957247+0100](https://user-images.githubusercontent.com/71132215/107364133-561c2800-6adb-11eb-9245-9da431760068.png)

Putting the viewBox back fixes th

[2021-02-15 22:30] waldyrious commented on #7
@HatScripts the GitHub issue actually seems to be resolved; I can't reproduce it anymore. I took the liberty to collapse the comments above that were solely about that issue, to clean up the thread.

@climech that's a good point in favor of `viewPort`. In your example, the `width` and `height` properties defined in CSS override the `width` and `height` attributes of the SVG element. I have no obje

[2021-02-25 13:04] ottsch opened #20 "hatscripts.github.io down :-("

[2021-02-25 16:16] waldyrious commented on #20
Looks like the default branch was recently renamed from `master` to `main`. It's possible that GitHub Pages is set up in this repo to use the `master` branch, and that wasn't updated when the branch was changed. I don't have the access to confirm that, but that's my best guess as to what might be the issue.

[2021-02-25 18:51] tnovau commented on #20
@HatScripts I have tried to create two branches: master and gh-pages but it didn't the trick.

[2021-02-26 06:43] bttruc commented on #20
You can the link to get flags
https://raw.githubusercontent.com/HatScripts/circle-flags/main/flags/us.svg

[2021-02-26 07:39] HatScripts commented on #20
Hey all, I'm really sorry about this. I should have confirmed that [hatscripts.github.io/circle-flags](https://hatscripts.github.io/circle-flags/) was still up and running after renaming the default branch to `main`.

It should be working again now, but please let me know if you experience any further issues. The fix required setting the GitHub Pages source branch in the repo settings to the `gh-p

[2021-02-26 15:11] waldyrious commented on #20
Can't you make `gh-pages` the default branch for the repo? That way you could also delete `main`.

That said, it sounds quite odd that `main` is not showing up as a possible source for GitHub Pages. According to [github/renaming § What's already changed](https://github.com/github/renaming#whats-already-changed) and the [blog post linked from there](https://github.blog/changelog/2020-07-31-build-an

[2021-02-26 16:05] HatScripts commented on #20
Oh yes you are correct. I just followed your advice and everything works!

You are right, the `master` → `main` renaming did automatically set `main` to be the GitHub Pages source branch. But for some reason, when `main` was set as the source branch, hatscripts.github.io/circle-flags/ went down. I tried setting the source branch back to `master`, which worked, and hatscripts.github.io/circle-flags

[2021-02-27 14:26] waldyrious commented on #20
No idea why that'd happen. My best guess is that it took GitHub a while to regenerate the website from the "new" sources. (Did you check the site immediately after renaming the branch? Sometimes GitHub Pages takes a few minutes to rebuild the site when settings change.) If that was not the case, perhaps some sort of dummy change to the sources would be needed to trigger a new  build.

Anyway, glad

[2021-02-28 10:30] bastien70 opened #21 "These flags are missing"
Hey! I use this library with the CountryType field of Symfony.

Unfortunately, it seems that some flags are missing. Here is the list :

sh : Saint Helena
mf : Saint-Martin
pm : Saint Pierre and Miquelon
wf : Wallis and futuna
tf : Southern French lands
sj: Svalbard and Jan Mayen
bq : Caribbean Netherlands
nc : New Caledonia
yt : Mayotte
re : La Réunion
um : United States Minor Outlying Islands
hm

[2021-03-01 12:56] HatScripts commented on #21
Hi @bastien70, thanks for pointing these out. I've started working on adding them. Not all of these countries and dependent territories have their own official flags, but most have unofficial ones.

The following seem to always use the same flags as their administrative countries, so it might make sense to create [symlinks](https://en.wikipedia.org/wiki/Symbolic_link) for these:

* `bv` Bouvet Isl

[2021-03-01 13:40] bastien70 commented on #21
The problem is that if you do not respect the real 2 character code, it will cause problem for association with the Country field of the Symfony framework.

Or, it will require customization work on this field so that it adapts to your codes for the "countries" concerned.

Afterwards, these are most certainly countries that we will never use, but that can have an impact only from an aesthetic poin

[2021-03-02 05:01] HatScripts commented on #21
I see, well to work around that, perhaps it would be best to also create the following symlinks:

* `bq` → `bq-bo`
* `sh` → `sh-hl`

Following the conventions of emoji:

* [Flag: Caribbean Netherlands - Emojipedia](https://emojipedia.org/flag-caribbean-netherlands/)
* [Flag: St. Helena - Emojipedia](https://emojipedia.org/flag-st-helena/)

[2021-03-02 08:50] bastien70 commented on #21
This means that if we call the following link: `https://hatscripts.github.io/circle-flags/flags/sh.svg` it will render the `sh-hl` flag ?

[2021-03-02 09:18] HatScripts commented on #21
Yes, that is correct. :)

[2021-03-02 09:34] bastien70 commented on #21
So that's a very good idea! I look forward :p

[2021-04-24 08:44] cedvdb opened #23 "Saudi Arabia flag is wrong"
Saudi Arabia text seems to be wrong ? That's an issue that was filed on my lib that use this. I cannot verify this claim as I don't speak arabic

[2021-04-24 09:04] HatScripts commented on #23
Hey @cedvdb, could you please link me to the issue on your repo? So that I can get a better understanding of what the problem is. Thanks!

[2021-04-24 09:38] doublex commented on #21
@HatScripts  Great news!
Thanks for adding

[2021-04-24 09:40] doublex commented on #21
Maybe: AC BQ CP DG EA GP GS IC MF NC PM RE SH TA TF WF YT

[2021-04-24 10:35] doublex commented on #21
Very helpful would be: (referenced in Unicode CLDR):

SH - Saint Helena
AC -  Ascension Island
TA -  Tristan da Cunha
GS - South Georgia & South Sandwich Islands

Maybe rename:
ES-CN -> ES-IC
https://www.iso.org/obp/ui/#iso:code:3166:IC

[2021-04-24 14:56] waleedf112 commented on #23
@HatScripts i filed the original issue on @cedvdb 's library.

The saudi arabian flag in the library looks like this:
![Screenshot_20210424-175204__01.jpg](https://user-images.githubusercontent.com/44902066/115962920-59b42e00-a4d2-11eb-9a22-d4483fd03964.jpg)

It supposed to look like this:
![1200px-Flag_of_Saudi_Arabia.svg.png](https://user-images.githubusercontent.com/44902066/115962953-7e100a80-

[2021-04-24 23:13] HatScripts commented on #23
@waleedf112, I see, thank you for drawing my attention to this. I'll try to push an update as soon as possible to resolve this.

Given the nature of this flag library (flag designs being stylized/simplified such that they display better at small sizes), do you think there is room for any changes to be made to the original designs of these flags?

[2021-04-25 02:03] waleedf112 commented on #23
I understand the point of this design style, therefore, I honestly don't think you could fit it while it being readable.
it doesn't need to be THAT readable, but at least it should be in a way that it doesn't look weird because the current text is complete gibberish to Arabic readers.
you could for example make the text smaller (even if it's not readable) but it looks fine from afar.

[2021-04-25 15:54] cedvdb commented on #23
That would result in gibberish too though and would go against the lib styling designs.

[2021-04-27 14:45] waldyrious commented on #23
Would it be possible to use a symbolic Arabic letter that would represent the flag's text content without attempting to completely transcribe it? For example, the same way Wikipedia's full logo uses the word:

![Wikipedia wordmark](https://upload.wikimedia.org/wikipedia/commons/8/8a/Wikipedia_wordmark_2x.png)

...but the favicon uses only the W:

![Wikipedia favicon](https://upload.wikimedia.org/w

[2021-04-27 15:34] waleedf112 commented on #23
That's already the situation, the Saudi Arabian flag uses 6 letters instead of the actual 24.
The iraq flag uses 4 instead of 8.
But they are completely random, it's like instead of saying "hello there, I'm Waleed" you say "Ho Tre, m Wed"

[2021-04-27 17:45] waldyrious commented on #23
So, what I'm asking is, what if, instead of them being random, we used something more symbolic? Like the first letter of the actual text, or a typically Arabic letter, something like that.

[2021-04-27 20:49] cedvdb commented on #23
I think what waldy would like to know is where are the letters that are symbolic since he doesn't speak Arabic

[2021-06-01 11:44] OPisFGTET commented on #23
@HatScripts wow so smart

[2021-06-01 11:49] TwurlNo1RLplayerOCE opened #32 "@Hatscripts only"
@HatScripts i have an issue sir
i miss u pls come back onto steam

[2021-06-02 03:45] #32 closed

[2021-06-02 19:50] TwurlNo1RLplayerOCE commented on #32
@HatScripts sir my issue isnt resolved

[2021-06-02 19:50] TwurlNo1RLplayerOCE opened #33 "@hatscripts"
you didn't resolve my issue lad

[2021-06-04 06:26] #33 closed

[2021-06-13 07:51] HatScripts commented on #21
I was basing the naming convention for ES-CN on Wikipedia: https://en.wikipedia.org/wiki/ISO_3166-2:ES#Autonomous_communities;_autonomous_cities_in_Spain, which in turn references https://www.iso.org/obp/ui/#iso:code:3166:ES

[2021-06-13 08:08] HatScripts commented on #21
All the flags @bastien70 mentioned have now been added:

* <img src="https://hatscripts.github.io/circle-flags/flags/bv.svg" width="16"> `bv` Bouvet Island → `no` Norway
* <img src="https://hatscripts.github.io/circle-flags/flags/hm.svg" width="16"> `hm` Heard Island and McDonald Islands → `au` Australia
* <img src="https://hatscripts.github.io/circle-flags/flags/sj.svg" width="16"> `sj` Svalbard

[2021-06-13 08:08] #21 closed, assigned to HatScripts

[2021-06-13 08:22] doublex commented on #21
@HatScripts
Thanks for the effort.

[2021-06-13 10:20] #20 closed, assigned to nobody

[2021-06-13 10:21] #11 closed

[2021-06-15 10:44] OPisFGTET opened #34 "quick! big issue!"
hi sir het,
tere is issue where you DISAPPEARED
can u pls fix

[2021-06-15 10:46] TwurlNo1RLplayerOCE opened #35 "Australian flag is wrong"
@HatScripts I'm having a script breaking issue with the Australian flag.

For some reason when I use the Australian flag it isn't showing as upside down????

This is absolutely script breaking and ruins my immersion.

Please fix this immediately and let me know once you have.

[2021-06-15 10:48] TwurlNo1RLplayerOCE commented on #23
Saudis committed 9/11
never forget

[2021-06-15 10:49] OPisFGTET commented on #23
Allahu Akbar.

[2021-06-15 11:45] TwurlNo1RLplayerOCE commented on #23
fuck saudi

[2021-06-28 09:42] caroillemann opened #37 "Flag svgs are broken"
Hi,

First of all thanks for a great flag library 🙏

It seems that the latest commit ['Optimize files with svgo 2.3.0'](https://github.com/HatScripts/circle-flags/commit/7e311a68187aa1b3d582e5d773e2f129378f14e9#diff-4cf444b81b926922dc79f00bddff4b2d3943a2d383a7152ee9cafb2d047a667a) has broken lots of the svgs. I can see the flags are also missing on your [flag gallery website](https://hatscripts.gi

[2021-06-28 18:32] Khodl commented on #37
I can confirm.

Simply by looking at the diff, we can already see that a lot of files were simply turned into an empty file.

[2021-06-28 18:35] Khodl commented on #37
@HatScripts Your commit made 241 additions and 279 deletions, which mean that 38 countries are now without flag

[2021-06-28 19:34] jonesch commented on #37
I am seeing the same thing as well.
Thanks, @caroillemann, and @Khodl for opening an issue here.

@HatScripts, is there anything we can do to help get these back up?

[2021-06-29 02:52] HatScripts commented on #37
Hi @caroillemann, thanks for reporting this, and thanks to @Khodl and @jonesch for the confirmation.

This issue should be all fixed up now.

[2021-06-29 02:52] #37 closed, assigned to nobody

[2021-06-29 02:56] HatScripts commented on #7
I've implemented this suggestion with https://github.com/HatScripts/circle-flags/commit/11239c09d6b6fc81c18dcc543f73dbdf17c514b5.

All flags should now have both a viewBox as well as a width and height:

Before | After
-|-
`viewBox="0 0 512 512"` | `viewBox="0 0 512 512" width="512" height="512"`

[2021-06-29 02:56] #7 closed

[2021-07-23 17:49] cedvdb opened #38 "missing flags"
it appears those 3 are missing AC, BQ, TA

[2021-07-24 05:09] HatScripts commented on #38
These exist at:

* <img src="https://hatscripts.github.io/circle-flags/flags/sh-ac.svg" width="16"> https://hatscripts.github.io/circle-flags/flags/sh-ac.svg
*  <img src="https://hatscripts.github.io/circle-flags/flags/bq.svg" width="16"> https://hatscripts.github.io/circle-flags/flags/bq.svg or https://hatscripts.github.io/circle-flags/flags/bq-bo.svg
*  <img src="https://hatscripts.github.io/cir

[2021-07-24 10:53] cedvdb commented on #38
Thanks. Wouldn't it be easier to keep it alpha2 ?

[2021-07-24 10:53] #38 closed, assigned to nobody

[2021-08-06 12:31] doublex opened #39 "Color-bleeding issue"
Commit: https://github.com/HatScripts/circle-flags/pull/18/commits/a419c7faaf800c479b21f09a5e5211db5121d344
`visibility:hidden` shadows all other inlined SVGs (testcase below).
Tested with: Chrome + Firefox
Would it be possible to revert this patch?
Thank you so much!

[code]

[2021-08-09 06:17] HatScripts commented on #39
I'm not sure why this happens.

Using `opacity:0` instead of `visibility:hidden` works as expected ([CodePen](https://codepen.io/HatScripts/pen/poPQGrB)).

An alternative fix is to ensure that each inline SVG has a unique mask id ([CodePen](https://codepen.io/HatScripts/pen/rNmQPxE)).

[2021-08-10 15:13] doublex commented on #39
The problem occurred when a flag was embedded on an offcanvas ("drawer").
The offcanvas is 3rdparty and uses `visibility:hidden`.

[2021-08-11 16:34] doublex commented on #39
Would it be tedious to publish both versions?

[2021-08-12 12:41] HatScripts commented on #39
Yes, it would be somewhat tedious to publish live versions of both.
You are welcome to use [v1.0.0 (Initial release)](https://github.com/HatScripts/circle-flags/releases/tag/v1.0.0) but bear in mind that branch is 9 months old and is [77 commits behind](https://github.com/HatScripts/circle-flags/compare/v1.0.0...v2.3.0) the latest release.

[2021-08-31 13:10] Zellerich opened #40 "World Flag"
Maybe someone has time to add a flag representing the whole planet. Something looking like a globe maybe.

![Download](https://user-images.githubusercontent.com/20928064/131508256-5a2c81d5-4b68-44d0-8c18-8f8e5e57d7c3.png)

[2021-09-17 10:40] kostyukdg opened #41 "Safari blurry icons"
Hi,

Your library is awesome. It works perfectly on any device except for safari(iOS and desktop). The flags are blurry.

[device screenshot](https://user-images.githubusercontent.com/2499312/133770993-539571ff-62f9-4ca8-8c95-ec6ec2cf6ab2.PNG)

It happens when you load an image from url
`<img src="https://hatscripts.github.io/circle-flags/flags/br.svg" width="48">`

I found solutions but looks tri

[2021-10-04 13:15] zeus1921 opened #42 "North Ireland flag"
hey North Ireland flag is missing, can u help me?

Also, can i use this flags to create a flag pack for Football Manager 2022? I will credit your project, obviously!

[2021-11-23 12:59] Zellerich commented on #42
This project is released under an MIT License.
Read more here: https://github.com/HatScripts/circle-flags/blob/gh-pages/LICENSE

[2022-04-01 07:34] cedvdb opened #46 "iso alpha 2"
a couple of flags are not using their iso alpha 2, like ac, ta, bq. It's easier for automated tools when everything is iso 2.

[2022-04-26 12:55] HatScripts commented on #42
Done! 🚀

`https://hatscripts.github.io/circle-flags/flags/gb-nir.svg`

<img src="https://hatscripts.github.io/circle-flags/flags/gb-nir.svg" width="64">

Based on the [Ulster Banner](https://en.wikipedia.org/wiki/Ulster_Banner):

<img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Flag_of_Northern_Ireland_%281953%E2%80%931972%29.svg" width="256">

### See also:
* https://en.wikipedia.org

[2022-04-26 12:55] #42 closed, assigned to nobody

[2022-04-28 05:53] HatScripts commented on #46
Thanks for pointing this out. I've created symlinks so that [ISO alpha-2 exceptional reservations](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Exceptional_reservations) redirect to their associated flags.

* <img src="https://hatscripts.github.io/circle-flags/flags/ac.svg" width="24"> Ascension Island `ac` -> `sh-ac`
* <img src="https://hatscripts.github.io/circle-flags/flags/ea.svg" width="2

[2022-04-28 05:53] #46 closed, assigned to nobody

[2022-05-01 09:16] #39 closed, assigned to nobody

[2022-05-04 07:32] tnovau opened #47 "Issue with flags after last commit"
Hi @HatScripts,

After the last commit on master, some flags are having issues.

![image](https://user-images.githubusercontent.com/18268934/166639174-25d0e1c4-6745-45a9-9a85-0045295659d4.png)

Example: https://raw.githubusercontent.com/HatScripts/circle-flags/gh-pages/flags/es.svg

[2022-05-04 08:27] HatScripts commented on #47
Thanks, should be fixed now!

<img src="https://hatscripts.github.io/circle-flags/flags/es.svg?1" width="128">

[2022-05-04 10:21] #47 closed, assigned to nobody

[2022-05-04 10:30] HatScripts commented on #41
Hi @kostyukdg, I'm glad you like the library. Could you please elaborate or provide more screenshots? Unless I am missing something, the screenshot you provided doesn't appear to show obviously blurry flag icons. Thanks!

[2022-05-04 10:46] HatScripts commented on #40
<img src="https://hatscripts.github.io/circle-flags/flags/earth.svg" width="128">

`https://hatscripts.github.io/circle-flags/flags/earth.svg`

Here is one based on the _International Flag of Planet Earth by Oskar Pernefeldt (variant without borders) (2016)_

<img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/International_Flag_of_Planet_Earth.svg" width="256"> <img src="https://upload.

[2022-05-04 13:03] waldyrious commented on #41
I think he may mean the borders around the icons:

![blurry-icons](https://user-images.githubusercontent.com/478237/166686661-2c992dc2-91f7-456e-9ea7-f835af612870.png)

Maybe Safari is not able to properly render the alpha masks (#11/#18)? I wonder if using `<clipPath>` instead of `<mask>` might work better. After all, we only need a binary mask (which is what `clipPath` provides), not a gradual t

[2022-05-09 12:07] innoviussoftware opened #48 "Please Update New Flag Bahamas Country"
Bahamas Country Flag is wrong pls update new flag

[2022-05-10 06:00] innoviussoftware commented on #48
Bahamas Country Flag is wrong pls update new flag

![image](https://user-images.githubusercontent.com/39215835/167558570-b2f4c93a-e628-4499-90e0-5718ba309685.png)

[2022-05-14 05:31] HatScripts commented on #41
This should be fixed now: https://github.com/HatScripts/circle-flags/releases/tag/v2.5.0

[2022-05-14 18:25] waldyrious commented on #41
Nice, @HatScripts! Out of curiosity, why did you go with `border-radius` instead of `clipPath`? Smaller files?

Edit: either way, it's nice that it was done via CSS, since now the clipping of the flags to different shapes can be done without tweaking the SVG — see #51!

[2022-05-16 10:32] ghost opened #52 "SVG border-radius issue"
Hey I noticed the flags have been updated to use `<style>` now for `border-radius`. Specifically the value `50%` is leading to errors if user is using for example react-native-svg library's component for rendering the svg, since it is trying to pass the borderRadius as a string instead of a number.

Not really sure if this is something that could or should be fixed here or in the react-native-svg

[2022-05-16 12:28] HatScripts commented on #52
Hey, thanks for the heads-up. This indeed sounds like it is a bug with react-native-svg, so maybe it would be best to create an issue on their repo.

[2022-05-16 17:10] #52 closed, assigned to nobody

[2022-05-19 12:20] maroparo opened #53 "Styling with border radius not always works."
Hi,
First of all thanks for this awesome lib! Much appreciated.
I have installed this package as a dependency in my project.
I came across this weird issue where I've notice that the the styling of the border radius doesn't always work with `border-radius:50%`.
I first noticed when trying to rasterize the flags for a PDF export. The preview of the doc looked fine, but in the file itself the flag c

[2022-05-19 13:40] waldyrious commented on #41
Cross-referencing #52 and #53 for future reference. It seems like it might be a good idea to pick (and document) the list of platforms/software we want to target and guarantee proper rendering.

In any case, I'd say that, assuming we want to support the platforms where `border-radius` doesn't work, it's preferable to have blurry borders in Safari (which might even be solved with using a `<clipPath

[2022-06-03 13:20] kwstasarva opened #55 "The greek flag is wrong"
Hello,

Thank you for the amazing work you've done so far.
I'd like to point out that the greek flag is wrong.
Please have a look here: https://cdn.countryflags.com/thumbs/greece/flag-round-250.png

Notice that the cross should extend to the bottom line.

Thank you in advance.

[2022-06-04 02:59] HatScripts commented on #55
Thanks for pointing this out. Fixed! 🚀

<img src="https://hatscripts.github.io/circle-flags/flags/gr.svg" width="128">

[2022-06-04 02:59] #55 closed, assigned to nobody

[2022-06-06 22:13] waldyrious commented on #55
Relevant commit for future reference: https://github.com/HatScripts/circle-flags/commit/2bb55df2d018c65657d9c98db977e8645f26cb8e

[2022-06-09 18:25] doublex opened #56 ""clipPath" in es.svg"
Thanks you so much for fixing https://github.com/HatScripts/circle-flags/issues/39!
Would it be difficult to remove the last remaining global "id" from `es.svg`?
Thanks for your merits!

[2022-06-10 10:33] doublex opened #57 "Flag for punjabi language"
Not an issue - just an idea (since `circle-flags` supports many Indian languages).
Maybe a flag for  `punjabi language` (pa).
Flag of of Punjab state:
https://www.deviantart.com/ramones1986/art/Punjabi-Tricolor-567835840

Maybe: Telugu language (Andhra Pradesh)

[2022-06-10 15:18] doublex commented on #56
Thank you so much!!
Best wishes

[2022-06-10 15:18] #56 closed, assigned to nobody

[2022-06-10 21:50] waldyrious commented on #56
For future reference, the fix was done in commit https://github.com/HatScripts/circle-flags/commit/6a004d85fce095a0b8ca6db20738af449229020e.

[2022-08-18 18:03] gsgou commented on #53
Same issue with the rendering of SVGs with the popular skia framework.
https://github.com/mono/SkiaSharp/issues/2220

Noticed it by updating from the older flags with the mask to the new ones with border-style.
See also: https://github.com/mono/SkiaSharp/issues/2220, https://github.com/wieslawsoltes/Svg.Skia/issues/114

this renders
![de](https://user-images.githubusercontent.com/911534/185463428-

[2022-08-18 18:07] gsgou commented on #52
As mentioned also here: https://github.com/HatScripts/circle-flags/issues/53
is also an issue with other frameworks like skia used by flutter and xamarin.
Maybe makes sense to roll back on the mask used before.

[2022-08-25 11:47] vmerljak opened #58 "Coat of arms for the slovenian flag"
The Slovenian flag currently has a stylised but incorrect coat of arms. If Spanish flag can be drawn in detail, so should Slovenian. You can find the official instructions for the Republic of Slovenia symbols [here](https://www.gov.si/en/topics/national-symbols/). Added is an example of quick fix:

![si_round_edited](https://user-images.githubusercontent.com/112083273/186655914-94c840d7-dbe5-47de-

[2022-09-01 22:54] waldyrious commented on #58
Just leaving a link to the the relevant commit, for future reference: https://github.com/HatScripts/circle-flags/commit/4132810857b6f30423ff14d2af5178aefb9a185c

And btw, here's the current version of the Slovenian flag: https://github.com/HatScripts/circle-flags/blob/414b51b671957b8f1c1ccbe5367c0b7e7b525249/flags/si.svg

[2022-09-16 10:33] gsgou commented on #53
@HatScripts  as mentioned here https://github.com/HatScripts/circle-flags/issues/52, the issue is still happening with react native. So it is **a real issue** for at least three mobile development cross-platform environments. Currently **Xamarin**, **Flutter** and **React-Native**. The feature of circularity is significant versus other projects as https://github.com/lipis/flag-icons

Are you inter

[2022-09-19 11:10] gsgou opened #59 "[feature] create additional english dialect flags"
Similar to [this commit](https://github.com/HatScripts/circle-flags/commit/5fa0ec3f5e7e962446d491a52e866ffcb4993182) following dialects can be useful. Used from services as [Microsoft Azure ](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support?tabs=stt-tts) for example :

"en-GH", "English (Ghana)"
"en-HK", "English (Hong Kong)"
"en-IE", "English (Ireland)"
"

[2022-09-19 11:12] gsgou opened #60 "[feature] create french dialect flags"
Similar to [this commit](https://github.com/HatScripts/circle-flags/commit/5fa0ec3f5e7e962446d491a52e866ffcb4993182) following dialects can be useful. Used from services as [Microsoft Azure ](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support?tabs=stt-tts) for example :

"fr-BE", "French (Belgium)"
"fr-CA", "French (Canada)"
"fr-CH", "French (Switzerland)"

[2022-09-19 11:14] gsgou opened #61 "[feature] create german dialect flags"
Similar to [this commit](https://github.com/HatScripts/circle-flags/commit/5fa0ec3f5e7e962446d491a52e866ffcb4993182) following dialects can be useful. Used from services as [Microsoft Azure ](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support?tabs=stt-tts) for example :

"de-CH", "German (Switzerland)"

[2022-09-19 11:14] gsgou opened #62 "[feature] create italian dialect flags"
Similar to [this commit](https://github.com/HatScripts/circle-flags/commit/5fa0ec3f5e7e962446d491a52e866ffcb4993182) following dialects can be useful. Used from services as [Microsoft Azure ](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support?tabs=stt-tts) for example :

"it-CH", "Italian (Switzerland)"

[2022-09-19 11:16] gsgou opened #63 "[feature] create additional spanish dialect flags"
Similar to [this commit](https://github.com/HatScripts/circle-flags/commit/5fa0ec3f5e7e962446d491a52e866ffcb4993182) following dialects can be useful. Used from services as [Microsoft Azure ](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support?tabs=stt-tts)for example :

"es-US", "Spanish (United States)"

[2022-09-19 11:17] gsgou opened #64 "[feature] create dutch dialect flags"
Similar to [this commit](https://github.com/HatScripts/circle-flags/commit/5fa0ec3f5e7e962446d491a52e866ffcb4993182) following dialects can be useful. Used from services as [Microsoft Azure ](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support?tabs=stt-tts)for example :

"nl-BE", "Dutch (Belgium)"

[2022-09-19 11:17] gsgou opened #65 "[feature] create arabic dialect flags"
Similar to [this commit](https://github.com/HatScripts/circle-flags/commit/5fa0ec3f5e7e962446d491a52e866ffcb4993182) following dialects can be useful. Used from services as [Microsoft Azure ](https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support?tabs=stt-tts)for example :

"ar-IL", "Arabic (Israel)"

[2022-09-23 08:12] HatScripts commented on #53
@gsgou I've reverted back to using `mask` instead of `border-radius` as of [v2.6.0](https://github.com/HatScripts/circle-flags/releases/tag/v2.6.0) (https://github.com/HatScripts/circle-flags/commit/07324c28b709732e04c7caeee9eaa276a9b42fae), so this issue should now be fixed.

[2022-09-23 08:13] HatScripts commented on #52
As stated on #53, I've reverted back to using `mask` instead of `border-radius` as of [v2.6.0](https://github.com/HatScripts/circle-flags/releases/tag/v2.6.0) (https://github.com/HatScripts/circle-flags/commit/07324c28b709732e04c7caeee9eaa276a9b42fae), so this issue should now be fixed.

[2022-09-23 08:24] gsgou commented on #53
Tks a lot for this 👌

[2022-09-27 01:28] pipcallas commented on #40
Maybe something like these?
![Earth_Flag_(2004) svg](https://user-images.githubusercontent.com/41415519/192409857-eb14efc7-930e-45eb-af98-74e123f381c3.png)
https://commons.wikimedia.org/wiki/File:Earth_Flag_(2004).svg
![World_Flag_(2004) svg](https://user-images.githubusercontent.com/41415519/192409864-850b9746-09b8-4efe-b681-36dc81500148.png)
https://commons.wikimedia.org/wiki/File:World_Flag_(20

[2022-09-27 14:03] pipcallas commented on #40
![World Flag Circle](https://user-images.githubusercontent.com/41415519/192547948-12fd05cc-bdf2-4cd6-81b7-35226b90509a.svg)

[2022-10-24 07:29] calumk opened #66 "Symlink doesnt seem to install with npm install"
Run:

The symlink flags eg: "uk" dont seem to download,

Tested on OSX - Not sure if the symlinks are platform specific - but i think they are.

It may make sense to simply duplicate flags rather than symlink them for easier cross-platform intergration

[2022-11-10 08:17] zefir-git opened #67 "Change `languages/la.svg`"
Latin is associated with ancient Rome, commonly referred to as SPQR (Senatus Populusque Romanus), which was its government.

The flag of the SPQR resembles:
![SPQR standard](https://user-images.githubusercontent.com/66572326/201035130-6cf4a31e-3923-4d10-aa5a-fafdbdae4c1d.png)
(image from Wikipedia)
Also:
![SPQR flag](https://upload.wikimedia.org/wikipedia/commons/8/8e/Flag_of_the_Roman_Empire.svg)

[2022-11-12 05:23] HatScripts commented on #67
Done! 🚀 https://github.com/HatScripts/circle-flags/commit/9c65023ebe9b57e90609efb871b7ee7e09a2d5c3

<img src="https://raw.githubusercontent.com/HatScripts/circle-flags/9c65023ebe9b57e90609efb871b7ee7e09a2d5c3/flags/language/la.svg" width="128">

Please let me know what you think. I decided to forgo the "SPQR" text.

P.S. You said sans-serif font when I think you meant serif.

[2022-11-13 09:17] waldyrious commented on #67
I suppose you were asking @williamd5 directly, but if you'd allow me the intrusion, I think the leaves should all be rotated a bit more inwards so that the inner leaves don't "bunch up" as much against each other, and so that each pair appears (visually; perhaps they already do mathematically) to be aligned with the tangent of the arc where they touch it.

[2022-11-13 13:56] zefir-git commented on #67
Correct. Not sure how I made that mistake.

I agree with @waldyrious' comment. Perhaps it might also look a bit better if the tip is a singular leaf/grain and also if the leaves/grains are a bit bigger compared to the width stem.

[2022-11-14 07:21] HatScripts commented on #67
@waldyrious @williamd5 Thanks for your feedback. I've rotated the inner leaves by 15° so that they don't look so "bunched up". Please let me know what you think. 🙂

<img src="https://hatscripts.github.io/circle-flags/flags/language/la.svg" width="128">

[2022-11-14 08:57] waldyrious commented on #67
Nice, looks better indeed :) For future reference, the relevant commit is https://github.com/HatScripts/circle-flags/commit/4d4d470b37e87513c45d356eb38fac672a3a6d90.

[2022-11-24 04:26] #67 closed, assigned to HatScripts